<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log</title>
    <%- include('./partials/head.ejs') %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="app.js"></script>
</head>
<body>
    <div class="container">
        <div class="container" id="top-container">
            <div class="container" class="canvas">
                <canvas id="myChart" width="70%" height="50%" aria-label="chart" role="img"></canvas>
            </div>
            <table class="legend" style="width: 30%;">
                <thead>
                    <tr>
                        <th>Value</th>
                        <th>Rate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr> 
                        <td>1</td>
                        <td>To Be Improved</td>
                    </tr>
                    <tr> 
                        <td>2</td>
                        <td>Satisfactory</td>
                    </tr>
                    <tr> 
                        <td>3</td>
                        <td>I feel great!</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <table class="table" style="width:100%">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Rate</th>
                </tr>
            </thead>
            <tbody>
                <% logs.forEach((item, index) => { %>
                    <tr> 
                        <td><%=item.date%></td>
                        <td><%=item.rate%></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
        <a class="btn btn-primary" href="/">back</a>
    </div>
</body>
</html>